<div class="float-right">				
	<button type="button" class="btn btn-warning float-right fixed-bottom m-5" style="left: auto;" id="emojuBottom" data-toggle="modal" data-target="#exampleModal">Emojis</button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Click to copy the emoji</h5>
		  <button type="button" class="close" id="closeModal"   data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body d-flex flex-wrap" style="font-size: larger;">
		  <div class="emoji" onclick="copyEmoji(this)">▷</div>
		  <div class="emoji" onclick="copyEmoji(this)">👉</div>
		  <div class="emoji" onclick="copyEmoji(this)">👍</div>
		  <div class="emoji" onclick="copyEmoji(this)">🤙</div>
		  <div class="emoji" onclick="copyEmoji(this)">🤝</div>
		  <div class="emoji" onclick="copyEmoji(this)">🙌</div>
		  <div class="emoji" onclick="copyEmoji(this)">👂</div>
		  <div class="emoji" onclick="copyEmoji(this)">👀</div>
		  <div class="emoji" onclick="copyEmoji(this)">💣</div>
		  <div class="emoji" onclick="copyEmoji(this)">💨</div>
		  <div class="emoji" onclick="copyEmoji(this)">💥</div>
		  <div class="emoji" onclick="copyEmoji(this)">🙈</div>
		  <div class="emoji" onclick="copyEmoji(this)">🙊</div>
		  <div class="emoji" onclick="copyEmoji(this)">🏃</div>
		  <div class="emoji" onclick="copyEmoji(this)">🚀</div>
		  <div class="emoji" onclick="copyEmoji(this)">⏳</div>
		  <div class="emoji" onclick="copyEmoji(this)">⏰</div>
		  <div class="emoji" onclick="copyEmoji(this)">🔥</div>
		  <div class="emoji" onclick="copyEmoji(this)">🌡️</div>
		  <div class="emoji" onclick="copyEmoji(this)">🔊</div>
		  <div class="emoji" onclick="copyEmoji(this)">🔔</div>
		  <div class="emoji" onclick="copyEmoji(this)">💻</div>
		  <div class="emoji" onclick="copyEmoji(this)">📺</div>
		  <div class="emoji" onclick="copyEmoji(this)">📷</div>
		  <div class="emoji" onclick="copyEmoji(this)">📹</div>
		  <div class="emoji" onclick="copyEmoji(this)">💸</div>
		  <div class="emoji" onclick="copyEmoji(this)">💲</div>
		  <div class="emoji" onclick="copyEmoji(this)">🔗</div>
		  <div class="emoji" onclick="copyEmoji(this)">✅</div>
		  <div class="emoji" onclick="copyEmoji(this)">❓</div>
		  <div class="emoji" onclick="copyEmoji(this)">🔴</div>
		  <div class="emoji" onclick="copyEmoji(this)">🔵</div>
		  <div class="emoji" onclick="copyEmoji(this)">🚩</div>
		  <div class="emoji" onclick="copyEmoji(this)">🛒</div>
		  <div class="emoji" onclick="copyEmoji(this)">🗨️</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

  <script>
    let lastFocus;
    let metaTitle = document.getElementById("metaTitle");
    let metaDescription = document.getElementById("metaDescription");
    metaTitle.addEventListener('focus', (event) => {
        lastFocus = metaTitle;   
    });
    metaDescription.addEventListener('focus', (event) => {
        lastFocus = metaDescription;   
    });
    function copyEmoji(self) {
        
        copyEmojiToClipboard(self);
        if(lastFocus){
            lastFocus.value += self.textContent;
            lastFocus.focus();
            setTimeout(function(){ lastFocus.focus(); }, 50);
            setTimeout(function(){ lastFocus.focus(); }, 100);
            setTimeout(function(){ lastFocus.focus(); }, 150);
            setTimeout(function(){ lastFocus.focus(); }, 200);
            setTimeout(function(){ lastFocus.focus(); }, 250);
            setTimeout(function(){ lastFocus.focus(); }, 300);
            setTimeout(function(){ lastFocus.focus(); }, 350);
            //setTimeout(function(){ lastFocus.focus(); }, 400);
            //setTimeout(function(){ lastFocus.focus(); }, 800);
        }
            
    }
    function copyEmojiToClipboard(self) {
        var range, selection, worked;

        if (document.body.createTextRange) {
            range = document.body.createTextRange();
            range.moveToElementText(self);
            range.select();
        } else if (window.getSelection) {
            selection = window.getSelection();        
            range = document.createRange();
            range.selectNodeContents(self);
            selection.removeAllRanges();
            selection.addRange(range);
        }else{
            alert('unable to copy text');
        }

        try {
            if(document.execCommand('copy')){
                document.getElementById("closeModal").click();
            }else{
                alert('unable to copy text');
            }
        }
        catch (err) {
            alert('unable to copy text');
        }
    }
  </script>

