<section class="form-group col-md-4">
    <label for="imagePostImage">Añade una Imagen de portada:</label>
    <input type="file" class="form-control" name="imagePostImage" id="imagePostImage">
</section>
<section class="form-group col-md-4 ">
    <label for="imagePostName" data-toggle="tooltip" data-placement="top" title="Es el nombre con el que se guardará el archivo en el servidor, en lugar del nombre original del archivo">Nombre para guardar</label>
    <input type="text" class="form-control" name="imagePostName" id="imagePostName">
</section>
<section class="form-group col-md-4">
    <label for="imagePostAlt" data-toggle="tooltip" data-placement="top" title="Cuando la imagen no se pueda mostrar, se mostrará este texto.">Texto Alternativo</label>
    <input type="text" class="form-control" name="imagePostAlt" id="imagePostAlt">
</section>
<script>


</script>